/* 
#000000
#14213d
#fca311
#e5e5e5
#ffffff
 */

.signup_container {
  border: 2px solid #e5e5e5;
  position: absolute;
  left: 50%;
  translate: -50% 35%;
  border-radius: 0.5rem;
  padding: 1rem;
}
.form_container h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
}
.signup_form_div button {
  position: relative;
  left: 50%;
  translate: -50%;
}
.form_container .form_button {
  display: flex;
  justify-content: center;
}

.form_container .form_button button {
  margin: 0 0.5rem 0 0.5rem;
}

.form_container a {
  text-decoration: none;
}

.signup_form_div {
  margin: 2rem;
}

.signup_form_elements {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.signup_form_elements label {
  font-size: 1rem;
}
.signup_form_elements input {
  border: 1px solid e5e5e5;
}

button:hover {
  cursor: pointer;
}
