.profile_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_div h1 {
  font-size: 2rem;
}

.profile_div a {
  text-decoration: none;
  background-color: #07a0e7;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.profile_div a:hover {
  background-color: #faea06;
  color: black;
}

.profile_div button {
  background-color: #07a0e7;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.profile_div button:hover {
  background-color: #faea06;
  color: black;
}
