.profile_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_div h1 {
  font-size: 2rem;
}

.profile_div a {
  text-decoration: none;
  font-size: 1rem;
  color: #fca311;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #14213d;
  border-radius: 0.4rem;
}
