.navbar {
  background-color: #0066cc;
  padding: 0.5rem;
}

.navbar_div {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 40rem) {
  .navbar_div {
    flex-direction: column;
  }
}

.navbar_div a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  margin: 1rem;
}
