.dashboard {
  display: grid;
}

@media (max-width: 40rem) {
  .dashboard {
    display: flex;
  }
}

.sideBar {
  background: rgb(1, 77, 121);
  padding: 1rem 0;
  transition: all 0.5s ease;
}

.sideBar a {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  padding: 1rem;
  color: white;
  list-style: none;
}
.sideBar a:hover {
  background-color: #faea06;
  color: black;
  cursor: pointer;
}

@media (max-width: 40rem) {
  .sideBar {
    flex-direction: row;
    color: white;
    display: none;
  }
}

.dashboard_content {
  grid-column: 3/12 span;
}

.dashboard_content .sideBar {
  display: none;
}

@media (max-width: 40rem) {
  .dashboard_content .sideBar {
    display: flex;
  }
}

.formDiv {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 1rem 0;
}

@media (max-width: 60rem) {
  .formDiv {
    flex-direction: column;
  }
}

.expInc_container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 60rem) {
  .expInc_container {
    flex-direction: column;
  }
}
