/* 
#000000
#14213d
#fca311
#e5e5e5
#ffffff
 */

.app {
  box-sizing: border-box;
  font-size: 10px;
}
* {
  font-family: "Segoe UI", sans-serif;
}
button {
  background-color: #14213d;
  color: #fca311;
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
}

label {
  font-size: 1rem;
  padding: 0.5rem;
}
