.app {
  box-sizing: border-box;
  box-shadow: 10px 10px 30px rgb(138, 137, 137);
  font-size: 62.5%;
  margin: 4rem;
  background-color: #c0bebe5e;
  padding: 0.5rem;
  min-height: 80vh;
}
* {
  font-family: "Segoe UI", sans-serif;
}

@media (max-width: 30rem) {
  .app {
    margin: 1rem;
  }
}
